<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Danh Sách Tài Liệu</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
	rel="stylesheet">
</head>
<body>
	<div class= "container my-4">
	<p>Xin chào, hãy đăng nhập</p>
	<a href="/documents/upload" class= "btn btn-outline-success">Đăng nhập ngay</a>
	</div>
	
</body>
</html>
